<footer class="footer sm:footer-horizontal bg-base-300 text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <div>
      <p class="text-xl">Let's build something <br /><span class="text-primary">amazing together.</span>
      </p>
      <p class="text-md">Open for new opportunities and collaborations.</p>
      <p class="text-xs text-gray-500">Copyright © 2026 - All right reserved</p>
    </div>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end text-2xl">
    <fa-icon [icon]="faGithub"></fa-icon>
    <fa-icon [icon]="faLinkedin"></fa-icon>
    <fa-icon [icon]="faFacebook"></fa-icon>
  </nav>
</footer>