.left {
  margin: auto;
  display: grid;
  place-content: center;
}

.left-top {
  display: grid;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.left-top p {
  font-size: 16px;
}

.left-bottom {
  width: 50%;
  display: flex;
  gap: 1em
}

h1 {
  font-size: 75px;
  padding-bottom: 20px;
}

button {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color: var(--bg-color);
  font-weight: bold;
}

.left-bottom button:first-child {
  background-color: var(--primary-color);
}

.left-bottom button:last-child {
  background-color: var(--secondary-color);
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .button {
    width: 100%;
  }

  .left-bottom {
    width: 100%;
    flex-direction: column;
    flex-grow: row;
  }

}