nav {
  font-size: 20px;
  padding-top: 30px;
  margin: auto;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  gap: 10vh
}
nav div:nth-of-type(2){
  width: fit-content !important;
}

nav div {
  width: 50%;
}

nav ul {
  gap: 1em;
  width: 50%;
  padding: 0;
  display: flex;
  font-weight: bold;
  list-style: none;
  place-content: flex-end;
  color: var(--primary-color)
}

.name {
  font-size: larger;
  font-weight: bold;
  color: var(--secondary-color)
}
